
  <div class="flex-column justify-space-around">
      <h1>Are you buying or selling a book?</h1>

        <!-- link button to go back to the buyerpage.handlebars -->
        <a class="btn btn-primary" href="/buyerpage">Buy</a> 
        <!-- link button to go back to the sellerpage.handlebars -->
        <a class="btn btn-primary" href="/sellerpage">Sell</a>

    </main>
  </div>