<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sell</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Let's sell a book!</h1>
    <h2>Enter ISBN:</h2>
    <input type="text" id="isbn" placeholder="Search isbn">
    <!-- when you enter a valid ISBN book should pop up -->
    <h2>Location:</h2>
    <input type="text" id="location" placeholder="Enter Address">
    <!-- POST request created in db -->
    <button class="btn btn-primary">Post!</button>
</body>
    <script>
        document.querySelector("#isbn-search").addEventListener("click", function(event){
            terms=document.querySelector("#isbn").value


            window.location=`/search?q=${terms}`
        })
    </script>
</html>